<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Club</title>
  </head>
  <body>
    <h3>Welcome to our super secret club. Pleasure to have you here.</h3>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
  </body>
</html>
