<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New message</title>
  </head>
  <body>
    <h1>New Message</h1>
    <h3>Author: <%=user.username%></h3>
    <form action="" method="post">
      <textarea
        name="message"
        id="message"
        minlength="3"
        maxlength="200"
      ></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
